node_modules
dist

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-*/build-info/**

# Mac's annoying .DS_Store
.DS_Store


# IDE Settings excluded for hackaton
.idea